@import "../node_modules/@flaticon/flaticon-uicons/css/all/all";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .jumia-marketplace-vendor-link {
    @apply flex justify-between w-24 text-xs text-[#f68b1e] hover:underline font-medium;
  }
  .jumia-subsidiary-links {
    @apply inline-flex w-1/4 justify-between m-auto;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .nav-dropdown-btn {
    @apply flex justify-between items-center hover:text-[#f68b1e] p-2 rounded-md font-medium cursor-pointer;
  }
  .footer {
    @apply bg-[#535357] text-white h-screen w-full;
  }
  .category-list {
    @apply text-xs text-left p-2;
  }
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

header {
  display: flex;
  align-items: center;
  padding: 0.5rem 5%;
  background-color: #f1f1f2;
}

main {
  background-image: url("./assets/main-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
}

.search-form {
  display: flex;
  align-items: center;
  width: 40vw;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #a3a3a6;
}

.search-icon {
  padding: 15px;
}

.search-text {
  flex-grow: 100;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
}

.search-text:focus {
  box-shadow: none;
  background-color: none;
}

.nav-search-btn {
  background-color: #f68b1e;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  margin-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  cursor: pointer;
}

.nav-search-btn:hover {
  background-color: #e07e1b;
}

.nav-dropdown-btn > *:not(:last-child) {
  margin-right: 10px;
}

.nav-dropdown-btn > i {
  font-size: 1.3rem;
}
.nav-dropdown-btn > .fi-bs-angle-down {
  font-size: 0.7rem;
}

.category-list > li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.category-list > li:hover {
  color: #f68b1e;
}
.category-list > li:not(:last-child) {
  margin-bottom: 0.75rem;
}
.category-list > li > i {
  margin-right: 0.5rem;
  font-size: 1.1rem;
}